<!DOCTYPE html>
<html>
<head>
<style>
#arsybai {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#arsybai td, #arsybai th {
  border: 1px solid #ddd;
  padding: 8px;
}

#arsybai tr:nth-child(even){background-color: #f2f2f2;}

#arsybai tr:hover {background-color: #ddd;}

#arsybai th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
</style>
</head>
<body>

<table id="arsybai">
  <tr>
    <th>END</th>
    <th>Params</th>
    <th>Return</th>
  </tr>
  <tr>
    <td>image</td>
    <td>query</td>
    <td>Json</td>
  </tr>
  <tr>
    <td>instagram</td>
    <td>username</td>
    <td>Json</td>
  </tr>
</table>
</body>
</html>
